.container h1 {
  margin: 12%;
  font-weight: bold;
}
.container h1 span {
  font-weight: bold;
  text-decoration: underline;
  color: aqua;
}

body {
  background-color: #03353a;
  color: white;
}
label {
  margin: 0 5vh;
  font-weight: bolder;
}
.display input {
  width: 45vw;
}
#mysearch {
  margin: 4vh auto;
  display: flex;
  height: 5vh;
  width: 50vw;
}
#sm {
  color: cyan;
  font-size: 21px;
}
